.zip filter=lfs diff=lfs merge=lfs -text
.mat filter=lfs diff=lfs merge=lfs -text
.unity filter=lfs diff=lfs merge=lfs -text
.prefab filter=lfs diff=lfs merge=lfs -text
.hdr filter=lfs diff=lfs merge=lfs -text
.txt filter=lfs diff=lfs merge=lfs -text
Assets/SkySeries[[:space:]]Freebie/* filter=lfs diff=lfs merge=lfs -text
Assets/SkySeries[[:space:]]Freebie.meta filter=lfs diff=lfs merge=lfs -text
Assets/SkySeries[[:space:]]Freebie/ExampleScenes/* filter=lfs diff=lfs merge=lfs -text
Assets/SkySeries[[:space:]]Freebie/ExampleScenes/SceneObjects/* filter=lfs diff=lfs merge=lfs -text
Assets/SkySeries[[:space:]]Freebie/FreebieHdri/* filter=lfs diff=lfs merge=lfs -text
